.outer_container {
    margin-top: 20px;
    display: flex;
    /* flex: 10 12 auto; */
    justify-content: space-around;
  max-width: 1000px;
  }
  .outer_container a {
      color: #737373;
      font-size: 15px;
      text-decoration: none;
    }
    .outer_container li {
      list-style-type: none;
      margin-bottom: 10px;
    }
    .outer_container svg {
      color: white;
      margin-right: 5px;
    }
    .footer_right_col{
      display: none;
  }
  @media (min-width:575px) {
      .footer_right_col{
      display: block;
  }
  .only_mobile{
      display: none;
  }
  }
  .outer_container {
      margin-top: 20px;
      display: flex;
      /* flex: 10 12 auto; */
      justify-content: space-around;
    max-width: 1000px;
    }
    .outer_container a {
        color: #737373;
        font-size: 15px;
        text-decoration: none;
      }
      .outer_container li {
        list-style-type: none;
        margin-bottom: 10px;
      }
      .outer_container svg {
        color: white;
        margin-right: 5px;
      }
      .footer_right_col{
        display: none;
    }
    @media (min-width:575px) {
        .footer_right_col{
        display: block;
    }
    .only_mobile{
        display: none;
    }
    }