.banner_container {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner_container_content {
    margin-left: 50px;
    color: white;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 70vw;
    position: relative;
    z-index: 2;
    gap: 15px;
  }
  .shadow {
  
  
      position: absolute;
      left: 0;
      bottom: 50px;
      width: 100%;
      height: 50vh;
      background-image: linear-gradient(180deg,
      rgba(139, 139, 139, 0) 0%,
      rgba(95, 94, 94, 0.5) 25%,
      rgba(32, 32, 32, 0.95) 70%,
      rgb(10, 10, 10) 100%);
      z-index: 0;
   
  }
  
  .banner_button > button {
    cursor: pointer;
    color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .banner_button > button:hover {
    color: #000;
    background-color: #e6e6e6;
  }